
.featured-section {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 40px;
    height: 550px;

    background: 
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), 
        url('./t-shirt.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    color: white;
}
.text-section {
    width: 100%;
    height: 100%;
    margin-left: 200px;
    margin-top: 100px;
}
.text-section p:first-child {
    font-size: 50px;
}
.text-section p:last-of-type {
    font-size: 30px;
}

.button-on-image {
    display: flex;
    background-color: rgb(16, 16, 150);
    width: 200px;
    height: 85px;
    border-radius: 15px;
    color: white;
    border: none;
    margin-top: 10vh;
    justify-content: center;
    align-items: center; 
    font-size: 3.3dvh;

    box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.button-on-image:hover {
    background-color: rgb(36, 36, 170); 
    box-shadow: 0px 0px 12px 6px rgba(255,255,255,0.5);
    transform: scale(1.05);
}

