
.footer {
    background-color: #111;
    color: #fff;
    text-align: left;
    padding: 10px 0px;
    margin-top: 15vh;
    margin-bottom: 0;
}
  
  .footer .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer .footer-section {
    padding: 20px;
    margin-right: 10vw;
    margin-left: 5vw;
  }
  
  .footer .logo-text {
    font-size: 1.5em;
    color: #fff;
  }
  
  .footer .footer-section h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .footer .contact {
    margin-top: 7vh;
  }
  
  .footer .footer-section a {
    text-decoration: none;
    color: #bbb;
    font-size: 0.9em;
  }
  
  .footer .footer-section a:hover {
    color: #fff;
  }
  
  .footer .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer .footer-bottom {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px 0px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer .socials a {
    border: 1px solid #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.3s;
  }
  
  .footer .socials a:hover {
    background-color: #fff;
    color: #111;
  }

  .fa-github{
    transition: transform 0.3s ease-in-out;
  }
  .fa-github:hover {
    transform: rotate(360deg) scale(1.2); 
  }
  