.App {
    position: relative;
    width: 100%;
    overflow-x: hidden; 
}


.shopping-cart {
    position: fixed; 
    top: 0;
    right: -400px;    /* Initially hide the cart by positioning it outside the viewport */
    width: 20vw;   
    height: 100%;
    background-color: white;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5); 
    transition: right 0.3s; 
    overflow-y: auto; 
    z-index: 10; 
}


.show-cart {
    right: 0;  /* When this class is added, the cart will become visible by sliding from the right */
}
